.bottom-space{
	margin-bottom: 230px;
}

.top-space{
	margin-top: 100px;
}

.bottom-gap{
	margin-bottom: 20px;
}

.top-gap{
	margin-bottom: 20px;
}

.even-gap{
	margin-bottom: 20px;
	margin-top: 20px;
}


.fixed-height{
	height: 250px;
}

.content_height
{

    min-height: 73%;
}

.my-side-menu
{
	border: none !important;
	border-radius: 0px !important;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
}

.my-card
{
	border-color: #d2d2d2 !important;
	box-shadow: 0 0 3px #cfcfcf !important;
	border-radius: 3px !important;
	border: 1px solid transparent !important;
}

body
{
	background:#E0E0E0;
}

	




